.notice {
	margin-left:35px;
}

header {
	width:100%;
	overflow:auto;
}

body {
	background-color:#1F5168;
}
/* nav */

div#nav_bar {
	width: 95em;
	margin:10px 20px 0 33px;
	overflow:auto;
}

nav {
	float:right;
	position:relative;
	background-color:#2D647F;	
	padding: 3px;
}

.nav_item {
	position:relative;
	list-style-type: none;
	display: inline-block;
	font-size:13px;
	margin: 0 7px 0 7px;
}


/* Typography */

html {font-size:100.01%;}
body {font-size:78%;color:#FFFFFF;font-family:"Lucida Sans Unicode", "Lucida Grande", Sans-Serif}

/* Links */

a {
  color: #7FEAFF;
  text-decoration: none;
}

a:hover {
  color: #EAF9F9;
  text-decoration: underline;
}

a:visited {
	color: #7FEAFF;
}

#first_row a:visited {
	color: #7FEAFF;
}

div#container {
	width: 95em;
	margin:5px 20px 10px 15px;
	padding-left: 20px;
	padding-right: 20px;
	background-color: #1F5168;
}

/* Top of Course Index */

table#yls{   
	font-size:25px;
	width: 100%;
	text-align:left;
	margin-bottom: 20px;
	border-bottom: 2px solid #FFFFFF;
}

/*Search Form */

div#search_container {
	padding: 8px 8px 8px 5px;
	margin: 5px 0 5px 0;
	height:110px;
	background-color:#2D647F;
	font-size:105%;
}

#cart{
	padding: 0 8px 8px 5px;
	margin: 5px 0 5px 0;
	background-color:#2D647F;
	font-size:105%;
;
}


div#name_search div#name_box {	
	float:left;
}

div#name_box {
	margin-right:54px;
}

div.field_container {
	float:left;
	margin-right:3px;
}

div#search_button {
	position:relative;
	margin: 5px 0 3px 0;
}

div#course_list_link {
	margin: 6px 0 0 0;
	font-size:12px;
}


/*horizontal bars */

.zebra {
	padding:2px 0 2px 0;
	background-color:#2D647F;
}

/* Round corners */

.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}

/*Course Table */

div#course_table {
	margin: 10px 0 0 0;
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
}

div#first_row {
	display:inline-block;
	width: 82.5em;
	font-size:115%;
	border-bottom: 1px dashed white;
}

.other_rows, .descrip_body {
	margin:6px 0 0 0;
	padding-left:5px;
}

.descrip_body {
	text-align:justify;
}


hr#border_line {
	margin-top:0px;
	height:0.5px;
	border:1px dashed white;
	background-color:transparent;
}

#search_title, #shopping_title {
	margin: -2px 0 0 0;
	display:inline-block;
}

.toggle_link_hide, .toggle_link_show {
	display:inline-block;
	float:right;
}

#name_header, .name_body, div#name_search {
	display:inline-block;
	width:190px;
	margin: 0 10px 0 0;
}

#calendar_header, .calendar_body, #eval_header, .eval_body, #cart_header, .cart_body {
	display:inline-block;
	width:20px;
	margin: 0 0 0 0;
}

#cart_header, .cart_body{
	width:30px;
	margin-right:2em;
}

#name_box, #search_button, #course_list_link {
}

#number_header, .number_body, div#number_search {
	display:inline-block;
	width:90px;
}

#instructor_header, .instructor_body, div#instructor_search {
	left:20em;
	display:inline-block;
	width:180px;
	margin: 0 10px 0 0;
}

#room_header, .room_body, div#room_search {
	display:inline-block;
	width:95px;
}

#day_header, .day_body, div#day_search {
	display:inline-block;
	width:100px;
	margin: 0 10px 0 0;
}

#units_header, .units_body, div#units_search {
	display:inline-block;
	width:90px;
}

#time_header, .time_body, div#time_search {
	display:inline-block;
	width:100px;
	margin: 0 10px 0 0;
}

#limitations_header, .limitations_body, div#limitations_search {
	display:inline-block;
	width:90px;
	margin: 0 10px 0 0;
}

#exam_header, .exam_body, #exam_search, #paper_search {
	display:inline-block;
	width:90px;
	margin: 0 15px 0 0;
}

#paper_header, .paper_body, #paper_search {
	display:inline-block;
	width:70px;
	margin: 0 15px 0 0;	
}


/*Lightbox */

.lightbox_back {
	position: fixed;
	background-color:rgba(0,0,0,.8);
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index: 10;
}

.lightbox_front {
	padding: 10px;
	position: relative;
	background-color:#1F5168;
	top: 20%;
	left: 20%;
	z-index: 20;
	max-height:50em;
	overflow:auto;
	width: 60%;
	height: 60%;
	border:5px solid #EFEFEF;
}

.lightbox_close{
	font-color:gray;
	position:relative;
	float:right;
}

/* show course page */
#show_header {
	font-size:20px;
	font-weight:bold;
	margin-bottom:5px;
}

#show_eval_header {
	font-style:italic;
	font-size:13px;
	margin-bottom:1em;
}

.indiv_eval_link {
	display:inline-block;
	width:90px;
}

.prof_name {
	display:inline-block;
}
/*Tooltip */
.tooltip {
		color:blue;
		display:none;
		background-color:#ffa;
		border:1px solid #cc9;
		padding:3px;
		font-size:12px;
		-moz-box-shadow: 2px 2px 11px #666;
		-webkit-box-shadow: 2px 2px 11px #666;
	}

/* Round corners */
.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}

.empty_cart {
	margin:4px 0 0 0;
}