body {
  padding-left: 20px;
  padding-top: 20px;
  padding-right: 20px;
  background-color: #1C526F;
}

/* Typography */

html {font-size:100.01%;}
body {font-size:78%;color:#FFFFFF;font-family:"Lucida Sans Unicode", "Lucida Grande", Sans-Serif}

/* Links */

a {
  color: #7DEEF2;
  text-decoration: none;
}

a:hover {
  color: #EAF9F9;
  text-decoration: underline;
}

a:visited {
  color: #9DABF9;
}


/* Tables */

table#yls{
	font-size:25px;
	width: 100%;
	text-align:left;
	margin-bottom: 20px;
	border-bottom: 2px solid #FFFFFF;
}

table#course_list {
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	border-width: 1px;
	border-spacing: 2px;
	border-style: hidden;
	text-align: left;
	border-collapse: collapse;
}
table#course_list th {
	font-size: 14px;
	font-weight: bold;
	padding: 10px 8px;
	padding: 1px;
	border-bottom: 1px dashed #FFFFFF;
}

table#course_list td {
	padding: 1px 1px 2px 3px;
}

table#course_list .odd
{
	background: #2D647F;
}

table#search{
	text-align: left;
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	table-layout:auto;
	width: 1000px;
	background: #2D647F;
	padding: 8px 4px 8px 8px;
}

table#search th {
	font-weight:normal;
	padding: 1px 1px 3px 3px;
}

table#search td {
	font-weight:normal;
	width: 10px;
	padding: 2px 2px 5px 2px;
}


/* Round corners */

.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}