body {
  padding-left: 20px;
  padding-top: 20px;
  padding-right: 20px;
  background-color: #1C526F;
}

/* Typography */

html {font-size:100.01%;}
body {font-size:78%;color:#FFFFFF;font-family:"Lucida Sans Unicode", "Lucida Grande", Sans-Serif}

/* Links */

a {
  color: #7DEEF2;
  text-decoration: none;
}

a:hover {
  color: #EAF9F9;
  text-decoration: underline;
}

a:visited {
  color: #BCB3F9;
}


div#container {
	margin:5px 20px 10px 15px;
}

/* Top of Course Index */

table#yls{   
	font-size:25px;
	width: 100%;
	text-align:left;
	margin-bottom: 20px;
	border-bottom: 2px solid #FFFFFF;
}

/*Search Form */

div#search_form {
	border:1px solid gray;
	padding: 3px;
	margin: 0 0 5px 0;
	height:95px;
	background-color:#2D647F;
	font-size:105%;
}


div#name_search div#name_box {	
	float:left;
}

div.field_container {
	float:left;
	margin-right:3px;
}

div#search_button {
	position:relative;
	margin: 5px 0 3px 0;
}

div#course_list_link {
	margin: 6px 0 0 0;
	font-size:12px;
}


/*horizontal bars */

.zebra {
	background-color:#2D647F;
}

/* Round corners */

.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}

/*Course Table */

div#course_table {
	margin: 10px 0 0 0;
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
}

div#first_row {
	display:inline-block;
	font-size:115%;
}

.other_rows {
	margin:5px 0 0 0;
}

hr#border_line {
	margin-top:0px;
	height:0.5px;
	border:1px dashed white;
	background-color:transparent;
}

#name_header, .name_body, div#name_search {
	display:inline-block;
	width:220px;
	margin: 0 0 0 0;
}

#number_header, .number_body, div#number_search {
	display:inline-block;
	width:90px;
}

#instructor_header, .instructor_body, div#instructor_search {
	display:inline-block;
	width:160px;
}

#room_header, .room_body, div#room_search {
	display:inline-block;
	width:90px;
}

#day_header, .day_body, div#day_search {
	display:inline-block;
	width:90px;
}

#units_header, .units_body, div#units_search {
	display:inline-block;
	width:90px;
}

#time_header, .time_body, div#time_search {
	display:inline-block;
	width:100px;
}

#limitations_header, .limitations_body {
	display:inline-block;
	width:140px;
}

#calendar_header, .calendar_body {
	display:inline-block;
	margin: 0 0 0 15px;
	width:95px;
}

.descrip_body {
	width:1100px;
	padding: 3px 0 5px 0;
}