/* line 17, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* Mixins */
/* Nav */
/* line 84, ../../app/stylesheets/screen.scss */
nav {
  margin: 15px 0 5px 0;
  float: right;
  position: relative;
  background-color: #2d647f;
}
/* line 90, ../../app/stylesheets/screen.scss */
nav .nav_item {
  position: relative;
  list-style-type: none;
  display: inline-block;
  margin: 0 7px 0 7px;
}

/* line 98, ../../app/stylesheets/screen.scss */
p, li, ul {
  text-align: justify;
  line-height: 150%;
}

/* line 103, ../../app/stylesheets/screen.scss */
h1 {
  font-size: 2.4em;
  padding-bottom: 3px;
}

/* line 108, ../../app/stylesheets/screen.scss */
h2 {
  font-size: 1.8em;
  margin-bottom: 10px;
}

/* line 113, ../../app/stylesheets/screen.scss */
.instructor_body, .time_body {
  line-height: 140%;
}

/* line 117, ../../app/stylesheets/screen.scss */
.hello_message {
  position: relative;
  display: inline-block;
  float: right;
  bottom: 25px;
  right: 245px;
}

/* line 125, ../../app/stylesheets/screen.scss */
#sign_in_for_cart {
  right: 300px;
}

/* line 129, ../../app/stylesheets/screen.scss */
.assurance_msg {
  width: 300px;
  font-size: 90%;
}

/* line 134, ../../app/stylesheets/screen.scss */
.on_page_color {
  color: white;
}

/* Body */
/* line 140, ../../app/stylesheets/screen.scss */
body {
  width: 1070px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
  margin: 0px 0px 0px 30px;
  overflow-y: auto;
  overflow-x: auto;
  font-size: 77%;
  color: white;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  background-color: #1f5168;
}
/* line 150, ../../app/stylesheets/screen.scss */
body header {
  padding-left: 36px;
  padding-right: 45px;
  overflow: auto;
  background-color: #1f5168;
  padding-top: 12px;
}
/* line 157, ../../app/stylesheets/screen.scss */
body div#container {
  padding-left: 36px;
  padding-right: 45px;
  background-color: #1f5168;
  padding-bottom: 50px;
  /* Search form begins */
}
/* line 163, ../../app/stylesheets/screen.scss */
body div#container #yls_header {
  margin-top: 0;
  margin-bottom: 15px;
  border-bottom: 2px solid #FFFFFF;
  font-family: 'Lato', sans-serif;
}
/* line 170, ../../app/stylesheets/screen.scss */
body div#container #sidebar {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  left: 670px;
  top: 27px;
  width: 30em;
  padding: 10px 0px 20px 15px;
  border: 2px solid white;
  z-index: 100;
}
/* line 180, ../../app/stylesheets/screen.scss */
body div#container #sidebar #sidebar_inner_wrapper_2 {
  position: relative;
}
/* line 184, ../../app/stylesheets/screen.scss */
body div#container #sidebar #sidebar_inner_wrapper_1 {
  position: absolute;
}
/* line 190, ../../app/stylesheets/screen.scss */
body div#container #sidebar #cart, body div#container #sidebar #see_calendar {
  padding: 0 3px 8px 5px;
  margin: 5px 0px 5px 0;
  font-size: 100%;
}
/* line 199, ../../app/stylesheets/screen.scss */
body div#container .empty_cart {
  margin: 4px 0 0 0;
}
/* line 203, ../../app/stylesheets/screen.scss */
body div#container #hide_cart {
  display: inline-block;
  float: right;
  margin: .25em 1em 0 0;
}
/* line 211, ../../app/stylesheets/screen.scss */
body div#container div#search_container {
  padding: 10px 8px 2px 8px;
  margin: 10px 0 0 0;
  background-color: #2D647F;
  font-size: 105%;
}
/* line 217, ../../app/stylesheets/screen.scss */
body div#container div#search_container div.field_container {
  float: left;
}
/* line 221, ../../app/stylesheets/screen.scss */
body div#container div#search_container .float_and_margin {
  float: left;
  margin-bottom: 3px;
  margin-right: 15px;
}
/* line 227, ../../app/stylesheets/screen.scss */
body div#container div#search_container #name_search, body div#container div#search_container #search_name_like {
  width: 205px;
  margin-right: 70px;
}
/* line 232, ../../app/stylesheets/screen.scss */
body div#container div#search_container #instructor_search, body div#container div#search_container #search_instructor_like {
  width: 102.5px;
}
/* line 236, ../../app/stylesheets/screen.scss */
body div#container div#search_container #day_search, body div#container div#search_container #search_day_like {
  width: 45px;
}
/* line 240, ../../app/stylesheets/screen.scss */
body div#container div#search_container #tod_search, body div#container div#search_container #search_tod_like {
  width: 98px;
}
/* line 244, ../../app/stylesheets/screen.scss */
body div#container div#search_container #units_search, body div#container div#search_container #search_units_like {
  width: 47.5px;
  margin-right: 21px;
}
/* line 249, ../../app/stylesheets/screen.scss */
body div#container div#search_container #limitations_search, body div#container div#search_container #search_limitations_like {
  width: 62px;
  margin-right: 31px;
}
/* line 254, ../../app/stylesheets/screen.scss */
body div#container div#search_container #exam_search, body div#container div#search_container #search_exam_type_like {
  width: 102.5px;
  margin-right: 19px;
}
/* line 259, ../../app/stylesheets/screen.scss */
body div#container div#search_container #paper_search, body div#container div#search_container #search_paper_type_like {
  width: 80px;
}
/* line 263, ../../app/stylesheets/screen.scss */
body div#container div#search_container #instructor_quality_search, body div#container div#search_container #classtime_value_search, body div#container div#search_container #workload_search {
  width: 158.75px;
}
/* line 267, ../../app/stylesheets/screen.scss */
body div#container div#search_container #search_classtime_value_gt, body div#container div#search_container #search_workload_lt, body div#container div#search_container #search_instructor_quality_gt {
  width: 18px;
}

/* line 274, ../../app/stylesheets/screen.scss */
#courses_body, #courses_evals_body {
  padding-bottom: 40px;
  margin-top: 10px;
}

/* line 279, ../../app/stylesheets/screen.scss */
.icons {
  width: 66.5px;
  display: inline-block;
}

/* line 284, ../../app/stylesheets/screen.scss */
div#first_row {
  padding: 5px 0 5px 5px;
  display: inline-block;
  width: 984px;
  font-size: 115%;
  border-bottom: 2px solid white;
  background-color: #1F5168;
  z-index: 10;
}

/* Header and Body */
/* line 296, ../../app/stylesheets/screen.scss */
#name_header, .name_body {
  width: 210px;
  max-height: 50px;
  display: inline-block;
}

/* line 302, ../../app/stylesheets/screen.scss */
.course_name_click {
  width: 215px;
  white-space: normal;
}

/* line 307, ../../app/stylesheets/screen.scss */
#icons_header {
  display: inline-block;
  width: 66.5px;
}

/* line 312, ../../app/stylesheets/screen.scss */
#instructor_header, .instructor_body {
  width: 105px;
  display: inline-block;
  margin-right: 15px;
}

/* line 318, ../../app/stylesheets/screen.scss */
#day_header, .day_body {
  width: 45px;
  display: inline-block;
  margin-right: 15px;
}

/* line 324, ../../app/stylesheets/screen.scss */
#time_header, .time_body {
  width: 98px;
  display: inline-block;
  margin-right: 15px;
}

/* line 330, ../../app/stylesheets/screen.scss */
#time_header {
  margin-right: 13px;
}

/* line 334, ../../app/stylesheets/screen.scss */
#units_header, .units_body {
  width: 45px;
  display: inline-block;
  margin-right: 15px;
}

/* line 340, ../../app/stylesheets/screen.scss */
#limitations_header, .limitations_body {
  width: 62px;
  display: inline-block;
  margin-right: 27px;
}

/* line 346, ../../app/stylesheets/screen.scss */
#exam_header, .exam_body {
  width: 102.5px;
  display: inline-block;
  margin-right: 15px;
}

/* line 352, ../../app/stylesheets/screen.scss */
#classtime_value_header, .classtime_value_body {
  width: 158.75px;
  display: inline-block;
  margin-right: 15px;
}

/* line 358, ../../app/stylesheets/screen.scss */
#instructor_quality_header, .instructor_quality_body {
  width: 158.75px;
  display: inline-block;
  margin-right: 15px;
}

/* line 364, ../../app/stylesheets/screen.scss */
#workload_header, .workload_body {
  width: 158.75px;
  display: inline-block;
  margin-right: 15px;
}

/* line 370, ../../app/stylesheets/screen.scss */
#paper_header, .paper_body {
  width: 60px;
  display: inline-block;
  margin-right: 15px;
}

/* line 376, ../../app/stylesheets/screen.scss */
.eval_container_bar {
  background-color: white;
  border: 1px solid black;
  font: #7FEAFF;
  height: 20px;
  width: 155px;
  float: left;
  margin-right: 21px;
}

/* line 386, ../../app/stylesheets/screen.scss */
.eval_super_container {
  overflow: auto;
  float: right;
  width: 576px;
}

/* line 393, ../../app/stylesheets/screen.scss */
.eval_bar {
  display: inline-block;
  color: white;
  background-color: #00334F;
  height: 17px;
  padding: 3px 5px 0 0;
  text-align: right;
}

/* line 402, ../../app/stylesheets/screen.scss */
.eval_bar_cell {
  text-align: right;
  background-color: blue;
  padding-right: 4px;
}

/* Search Box */
/* line 411, ../../app/stylesheets/screen.scss */
#search_title, #shopping_title {
  display: inline-block;
  margin: 0 0 0 0;
}

/* line 416, ../../app/stylesheets/screen.scss */
#shopping_title {
  font-size: 1.5em;
}

/* line 420, ../../app/stylesheets/screen.scss */
#search_title {
  font-size: 135%;
}

/* line 424, ../../app/stylesheets/screen.scss */
#search_name_div {
  border: 1px solid white;
  width: 13em;
}

/* Typography */
/* line 436, ../../app/stylesheets/screen.scss */
html {
  font-size: 100.01%;
}

/* Links */
/* line 441, ../../app/stylesheets/screen.scss */
a {
  color: #7FEAFF;
  text-decoration: none;
}

/* line 446, ../../app/stylesheets/screen.scss */
a:hover {
  color: #EAF9F9;
  text-decoration: underline;
}

/* line 451, ../../app/stylesheets/screen.scss */
a:visited {
  color: #7FEAFF;
}

/* line 455, ../../app/stylesheets/screen.scss */
#first_row a:visited {
  color: #7FEAFF;
}

/* line 463, ../../app/stylesheets/screen.scss */
table#yls {
  font-size: 25px;
  width: 100%;
  text-align: left;
  margin-bottom: 20px;
  border-bottom: 2px solid #FFFFFF;
}

/* line 471, ../../app/stylesheets/screen.scss */
#logo {
  height: 45px;
  position: relative;
  right: 10px;
  margin-bottom: 3px;
}

/* line 478, ../../app/stylesheets/screen.scss */
#logo_wrapper {
  border-bottom: 2px solid white;
  margin-bottom: 14px;
}

/*Search Form */
/* line 486, ../../app/stylesheets/screen.scss */
.search_button {
  margin: 8px 0 3px 0;
  width: 50px;
  height: 20px;
  clear: both;
  float: left;
}

/* line 494, ../../app/stylesheets/screen.scss */
div.course_list_link {
  display: inline-block;
  clear: both;
  padding: 5px 0 0 0;
  margin: 8px 0 15px 15px;
  font-size: 1em;
}

/* line 502, ../../app/stylesheets/screen.scss */
.field_container {
  height: 35px;
}

/*horizontal bars */
/* line 509, ../../app/stylesheets/screen.scss */
.zebra {
  padding: 2px 0 2px 0;
  background-color: #2d647f;
}

/* Round corners */
/* line 516, ../../app/stylesheets/screen.scss */
.round {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/*Course Table */
/* line 524, ../../app/stylesheets/screen.scss */
div#course_table {
  margin: 10px 0 0 0;
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
}

/* line 530, ../../app/stylesheets/screen.scss */
.other_rows {
  margin: 6px 0 0 0;
  padding: 2px 0 2px 5px;
}

/* line 535, ../../app/stylesheets/screen.scss */
.descrip_body {
  margin: 3px 0 0 0;
  padding: 0 0 2px 5px;
  display: none;
}

/* line 542, ../../app/stylesheets/screen.scss */
hr#border_line {
  margin-top: 0px;
  height: 0.5px;
  border: 1px dashed white;
  background-color: transparent;
}

/* line 550, ../../app/stylesheets/screen.scss */
.toggle_link_hide, .toggle_link_show {
  display: inline-block;
  float: right;
  margin-bottom: 5px;
}

/* line 556, ../../app/stylesheets/screen.scss */
.delete_line_item {
  display: inline-block;
}

/* line 560, ../../app/stylesheets/screen.scss */
#current_item, .non_current_item {
  display: inline-block;
  width: 350px;
  margin-bottom: 1px;
}

/* line 566, ../../app/stylesheets/screen.scss */
.non_current_item:last-child {
  margin-bottom: -20px;
}

/* line 570, ../../app/stylesheets/screen.scss */
#units_range_title {
  border-top: 1px solid white;
  display: inline-block;
  position: relative;
  left: 70px;
  width: 180px;
  margin: 7px 0 10px 0;
}

/* line 579, ../../app/stylesheets/screen.scss */
#units_range {
  display: inline-block;
  border-top: 10px;
  width: 55px;
  border-top: 1px solid white;
  position: relative;
  left: 100px;
}

/* line 588, ../../app/stylesheets/screen.scss */
#units_range_title, #units_range {
  margin-top: 5px;
  padding-top: 3px;
}

/* line 593, ../../app/stylesheets/screen.scss */
#calendar_header, .calendar_body, #eval_header, .eval_body, #cart_header, .cart_body {
  display: inline-block;
  width: 20px;
  margin: 0 0 0 0;
}

/* line 599, ../../app/stylesheets/screen.scss */
.eval_body {
  margin-right: 2px;
}

/* line 603, ../../app/stylesheets/screen.scss */
#cart_header, .cart_body {
  width: 30px;
}

/* line 607, ../../app/stylesheets/screen.scss */
.units_body_cart {
  display: inline-block;
  margin-right: -10px;
}

/* line 612, ../../app/stylesheets/screen.scss */
.cart_add_hidden {
  display: none;
}

/* line 616, ../../app/stylesheets/screen.scss */
.gt_or_lt_sign {
  display: inline-block;
  float: left;
  margin: 7px 7px 0 0;
  font-size: 90%;
}

/*Lightbox */
/* line 625, ../../app/stylesheets/screen.scss */
.lightbox_back {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 70;
}

/* line 635, ../../app/stylesheets/screen.scss */
.lightbox_front {
  padding: 10px;
  position: relative;
  background-color: #1F5168;
  top: 25%;
  left: 25%;
  z-index: 70;
  max-height: 50em;
  overflow: auto;
  width: 50%;
  border: 5px solid #EFEFEF;
}

/* line 648, ../../app/stylesheets/screen.scss */
.cal_lightbox_front {
  padding: 10px;
  position: relative;
  background-color: #1F5168;
  top: 3%;
  left: 5%;
  z-index: 70;
  max-height: 50em;
  overflow: auto;
  width: 83%;
  bottom: 10%;
  border: 5px solid #EFEFEF;
}

/* line 662, ../../app/stylesheets/screen.scss */
.faq_lightbox_front {
  padding: 10px;
  position: relative;
  background-color: #1F5168;
  top: 18%;
  left: 10%;
  max-height: 50em;
  overflow: auto;
  width: 75%;
  border: 5px solid #EFEFEF;
  z-index: 70;
}

/* line 675, ../../app/stylesheets/screen.scss */
#about_lightbox_front {
  left: 15%;
  width: 65%;
}

/* line 681, ../../app/stylesheets/screen.scss */
.cal_lightbox_close, .lightbox_close {
  font-color: gray;
  position: relative;
  float: right;
}

/* show course page */
/* line 688, ../../app/stylesheets/screen.scss */
#show_header {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}

/* line 694, ../../app/stylesheets/screen.scss */
#show_eval_header {
  font-style: italic;
  font-size: 13px;
  margin-bottom: 1em;
}

/* line 700, ../../app/stylesheets/screen.scss */
.indiv_eval_link {
  display: inline-block;
  width: 90px;
}

/* line 706, ../../app/stylesheets/screen.scss */
.prof_name {
  display: inline-block;
}

/* line 710, ../../app/stylesheets/screen.scss */
img {
  border: none;
}

/* line 714, ../../app/stylesheets/screen.scss */
img#arrow {
  margin-left: 3px;
  margin-top: 10px;
  margin-bottom: -4px;
}

/* line 721, ../../app/stylesheets/screen.scss */
#cart_border, #eval_toggle_wrapper, #info_toggle_wrapper, #see_calendar {
  position: fixed;
  left: 1080px;
  display: inline-block;
  background-color: #2d647f;
  padding: 8px;
  font-size: 13px;
}

/* line 730, ../../app/stylesheets/screen.scss */
#cart_border, #see_calendar {
  width: 110px;
  text-align: center;
  padding: 5px 0 5px 0;
  top: 27px;
}

/* line 737, ../../app/stylesheets/screen.scss */
#eval_toggle_wrapper {
  top: 72px;
}

/* line 741, ../../app/stylesheets/screen.scss */
#info_toggle_wrapper {
  top: 72px;
}

/* line 745, ../../app/stylesheets/screen.scss */
#see_calendar {
  top: 160px;
}

/* line 749, ../../app/stylesheets/screen.scss */
#eval_toggle_td {
  padding: 10px 0 5px 0;
  text-align: center;
}

/* line 754, ../../app/stylesheets/screen.scss */
#info_toggle_td {
  padding: 5px 0 10px 0;
  text-align: center;
  border-bottom: 1px solid white;
}

/* line 760, ../../app/stylesheets/screen.scss */
nav, #cart_border, #eval_toggle_wrapper, #see_calendar {
  padding: 8px 6px 8px 6px;
  font-size: 13px;
  float: right;
}

/* line 766, ../../app/stylesheets/screen.scss */
#eval_toggle_wrapper {
  padding: 8px;
}

/* line 770, ../../app/stylesheets/screen.scss */
#legend img {
  vertical-align: top;
}

/* line 774, ../../app/stylesheets/screen.scss */
#legend {
  margin: 2px 0 0 0;
  padding-bottom: 5px;
}

/* line 779, ../../app/stylesheets/screen.scss */
#legend_gcal, #legend_eval, #legend_cart {
  position: relative;
  bottom: 5px;
  padding: 0 2px 0px 8px;
}

/* line 786, ../../app/stylesheets/screen.scss */
#sign_up, #sign_in {
  margin-top: 0px;
}

/*About Page */
/* line 794, ../../app/stylesheets/screen.scss */
#about {
  font-size: 1.05em;
}

/* line 798, ../../app/stylesheets/screen.scss */
#about_header, #faq_header {
  margin-bottom: 15px;
}

/* line 802, ../../app/stylesheets/screen.scss */
#about_p {
  font-size: 14px;
}

/* line 806, ../../app/stylesheets/screen.scss */
#about_wrapper, #faq_wrapper {
  font-size: 13px;
  padding: 8px;
}
/* line 810, ../../app/stylesheets/screen.scss */
#about_wrapper li, #faq_wrapper li {
  margin: 15px 0 15px 30px;
}

/* line 815, ../../app/stylesheets/screen.scss */
#faq_wrapper div {
  margin: 5px 0 5px 0px;
  padding: 5px 0px 5px 5px;
}

/* line 820, ../../app/stylesheets/screen.scss */
.faq_q {
  font-size: 110%;
  margin-bottom: 13px;
}

/* line 825, ../../app/stylesheets/screen.scss */
.faq_a {
  margin-bottom: 13px;
  line-height: 18px;
  display: none;
}

/* line 831, ../../app/stylesheets/screen.scss */
#contact {
  margin: 20px 0 0 0;
}

/*Sign Up Page*/
/* line 837, ../../app/stylesheets/screen.scss */
.form_wrapper {
  padding: 8px 0 10px 25px;
  margin: 5px 0 0 10px;
  width: 400px;
  background-color: #2D647F;
  font-size: 105%;
}
/* line 844, ../../app/stylesheets/screen.scss */
.form_wrapper div {
  margin: 15px 0 5px 0;
}
/* line 848, ../../app/stylesheets/screen.scss */
.form_wrapper .field_with_errors {
  position: relative;
  margin: -6px 0px 0px 0px;
}
/* line 853, ../../app/stylesheets/screen.scss */
.form_wrapper a {
  display: inline-block;
  margin-bottom: 5px;
}

/* line 860, ../../app/stylesheets/screen.scss */
#sign_up_button {
  margin: 10px 0 10px 0;
}

/* line 864, ../../app/stylesheets/screen.scss */
div #sign_in_button {
  margin: 5px 0 10px 0;
}

/* line 868, ../../app/stylesheets/screen.scss */
.eval_shadow, .prof_name {
  margin-bottom: 5px;
}

/* line 872, ../../app/stylesheets/screen.scss */
#no_courses {
  font-style: italic;
  font-size: 105%;
  margin-left: 4px;
}

/* line 878, ../../app/stylesheets/screen.scss */
.hide_search, #show_search {
  display: inline-block;
  position: relative;
  left: 705px;
}

/* line 884, ../../app/stylesheets/screen.scss */
.hide_search_img {
  display: inline-block;
  position: relative;
  top: 3px;
  margin-left: -3px;
}

/* Calendar */
/* line 893, ../../app/stylesheets/screen.scss */
#cal_wrapper {
  height: 582px;
  width: 970px;
  background-color: #2D647F;
  margin-top: 5px;
  padding: 0 10px 0 10px;
}

/* line 901, ../../app/stylesheets/screen.scss */
#cal_header {
  background-color: #2d647f;
  clear: both;
  overflow: auto;
  padding: 10px 0 15px 0;
  width: 890px;
  float: right;
}

/* line 910, ../../app/stylesheets/screen.scss */
.day {
  float: left;
  text-align: center;
  color: white;
  font-size: 150%;
  margin-right: 10px;
}

/* line 919, ../../app/stylesheets/screen.scss */
.day#friday {
  margin-right: 0px;
}

/* line 923, ../../app/stylesheets/screen.scss */
#hour_header_wrapper {
  width: 65px;
  float: left;
  margin-left: 5px;
  margin-top: 2px;
}

/* line 930, ../../app/stylesheets/screen.scss */
#week_hour_rows {
  float: right;
}

/* line 934, ../../app/stylesheets/screen.scss */
.day_hour_rows {
  float: right;
}

/* line 939, ../../app/stylesheets/screen.scss */
.hour_header {
  padding: 0px 0 28px 0;
}

/* line 943, ../../app/stylesheets/screen.scss */
.hour_header#hour_8 {
  padding: 36px 0 30px 0;
}

/* line 947, ../../app/stylesheets/screen.scss */
.hour_header#hour_9 {
  padding: 0px 0 0px 0;
}

/* line 951, ../../app/stylesheets/screen.scss */
.hour {
  height: 39px;
  border-top: 1px solid white;
  margin-left: 9px;
  margin-right: 1px;
  z-index: 20;
}

/* line 959, ../../app/stylesheets/screen.scss */
#M8_PM, #T8_PM, #W8_PM, #Th8_PM, #F8_PM {
  border-bottom: 1px solid white;
}

/* line 963, ../../app/stylesheets/screen.scss */
.day, .hour {
  width: 170px;
}

/* line 967, ../../app/stylesheets/screen.scss */
.first_hour {
  margin-top: 35px;
}

/* line 971, ../../app/stylesheets/screen.scss */
.marked {
  height: 84px;
  background-color: #00374F;
  z-index: 30;
  border: 1px solid white;
  float: left;
  margin-right: 3px;
  padding: 2px;
  font-size: 85%;
  color: white;
  word-wrap: break-word;
}

/* line 984, ../../app/stylesheets/screen.scss */
#cal_header_div {
  margin-bottom: 2px;
  font-size: 135%;
  display: inline-block;
}

/* line 990, ../../app/stylesheets/screen.scss */
.class_name {
  font-size: 105%;
}

/* line 994, ../../app/stylesheets/screen.scss */
.class_time {
  font-size: 95%;
  margin-top: 2px;
  display: inline-block;
}

/* line 1000, ../../app/stylesheets/screen.scss */
#close_cal {
  display: inline-block;
  float: right;
}

/* line 1005, ../../app/stylesheets/screen.scss */
#cal_cart_toggle {
  display: inline-block;
  float: right;
  position: relative;
  margin-right: 5px;
}

/* line 1013, ../../app/stylesheets/screen.scss */
.tooltip {
  display: none;
  font-size: 12px;
  height: 70px;
  width: 160px;
  padding: 25px;
  color: #fff;
}

/* line 1022, ../../app/stylesheets/screen.scss */
.default_text {
  color: gray;
}
