/* line 17, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* Mixins */
/* Nav */
/* line 63, ../../app/stylesheets/screen.scss */
nav {
  margin: 15px 0 5px 0;
  float: right;
  position: relative;
  background-color: #2d647f;
}
/* line 69, ../../app/stylesheets/screen.scss */
nav .nav_item {
  position: relative;
  list-style-type: none;
  display: inline-block;
  margin: 0 7px 0 7px;
}

/* line 77, ../../app/stylesheets/screen.scss */
p, li, ul {
  text-align: justify;
  line-height: 150%;
}

/* line 82, ../../app/stylesheets/screen.scss */
h1 {
  font-size: 2.4em;
  padding-bottom: 3px;
}

/* line 87, ../../app/stylesheets/screen.scss */
h2 {
  font-size: 1.8em;
  margin-bottom: 10px;
}

/* line 92, ../../app/stylesheets/screen.scss */
.instructor_body, .time_body {
  line-height: 140%;
}

/* Body */
/* line 98, ../../app/stylesheets/screen.scss */
body {
  width: 1070px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
  overflow-y: auto;
  font-size: 77%;
  color: white;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  background-color: #1f5168;
}
/* line 106, ../../app/stylesheets/screen.scss */
body header {
  padding-left: 36px;
  padding-right: 45px;
  overflow: auto;
  background-color: #1f5168;
}
/* line 112, ../../app/stylesheets/screen.scss */
body div#container {
  padding-left: 36px;
  padding-right: 45px;
  background-color: #1f5168;
  /* Search form begins */
}
/* line 117, ../../app/stylesheets/screen.scss */
body div#container #yls_header {
  margin-top: 0;
  margin-bottom: 15px;
  border-bottom: 2px solid #FFFFFF;
}
/* line 123, ../../app/stylesheets/screen.scss */
body div#container #sidebar {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.85);
  right: 105px;
  top: 15px;
  width: 30em;
  padding: 10px 0px 20px 15px;
  border: 2px solid white;
  z-index: 30;
}
/* line 133, ../../app/stylesheets/screen.scss */
body div#container #sidebar #cart {
  padding: 0 3px 8px 5px;
  margin: 5px 0px 5px 0;
  font-size: 100%;
}
/* line 142, ../../app/stylesheets/screen.scss */
body div#container .empty_cart {
  margin: 4px 0 0 0;
}
/* line 146, ../../app/stylesheets/screen.scss */
body div#container #hide_cart {
  display: inline-block;
  float: right;
  margin: .25em 1em 0 0;
}
/* line 154, ../../app/stylesheets/screen.scss */
body div#container div#search_container {
  padding: 10px 8px 2px 8px;
  margin: 5px 0 5px 0;
  height: 115px;
  background-color: #2D647F;
  font-size: 105%;
}
/* line 161, ../../app/stylesheets/screen.scss */
body div#container div#search_container div.field_container {
  float: left;
}
/* line 165, ../../app/stylesheets/screen.scss */
body div#container div#search_container .float_and_margin {
  float: left;
  margin-right: 15px;
}
/* line 170, ../../app/stylesheets/screen.scss */
body div#container div#search_container #name_search, body div#container div#search_container #search_name_like {
  width: 257.75px;
}
/* line 174, ../../app/stylesheets/screen.scss */
body div#container div#search_container #instructor_search, body div#container div#search_container #search_instructor_like {
  width: 102.5px;
  margin-left: 27px;
}
/* line 179, ../../app/stylesheets/screen.scss */
body div#container div#search_container #day_search, body div#container div#search_container #search_day_like {
  width: 39.5px;
}
/* line 183, ../../app/stylesheets/screen.scss */
body div#container div#search_container #tod_search, body div#container div#search_container #search_tod_like {
  width: 98px;
}
/* line 187, ../../app/stylesheets/screen.scss */
body div#container div#search_container #units_search, body div#container div#search_container #search_units_like {
  width: 39.5px;
  margin-right: 21px;
}
/* line 192, ../../app/stylesheets/screen.scss */
body div#container div#search_container #limitations_search, body div#container div#search_container #search_limitations_like {
  width: 62px;
  margin-right: 31px;
}
/* line 197, ../../app/stylesheets/screen.scss */
body div#container div#search_container #exam_search, body div#container div#search_container #search_exam_type_like {
  width: 102.5px;
  margin-right: 19px;
}
/* line 202, ../../app/stylesheets/screen.scss */
body div#container div#search_container #paper_search, body div#container div#search_container #search_paper_type_like {
  width: 80px;
}

/* line 210, ../../app/stylesheets/screen.scss */
#courses_body {
  padding-bottom: 20px;
}

/* line 214, ../../app/stylesheets/screen.scss */
.icons {
  width: 80px;
  display: inline-block;
}

/* line 219, ../../app/stylesheets/screen.scss */
div#first_row {
  padding: 5px 0 5px 5px;
  display: inline-block;
  width: 971px;
  font-size: 115%;
  border-bottom: 1px dashed white;
}

/* Header and Body */
/* line 229, ../../app/stylesheets/screen.scss */
#name_header, .name_body {
  width: 220px;
  max-height: 50px;
  display: inline-block;
}

/* line 236, ../../app/stylesheets/screen.scss */
.course_name_click {
  width: 215px;
  white-space: normal;
}

/* line 241, ../../app/stylesheets/screen.scss */
#icons_header {
  display: inline-block;
  width: 80px;
}

/* line 246, ../../app/stylesheets/screen.scss */
#instructor_header, .instructor_body {
  width: 105px;
  display: inline-block;
  margin-right: 15px;
}

/* line 252, ../../app/stylesheets/screen.scss */
#day_header, .day_body {
  width: 39.5px;
  display: inline-block;
  margin-right: 15px;
}

/* line 258, ../../app/stylesheets/screen.scss */
#time_header, .time_body {
  width: 98px;
  display: inline-block;
  margin-right: 15px;
}

/* line 264, ../../app/stylesheets/screen.scss */
#time_header {
  margin-right: 13px;
}

/* line 268, ../../app/stylesheets/screen.scss */
#units_header, .units_body {
  width: 45px;
  display: inline-block;
  margin-right: 15px;
}

/* line 275, ../../app/stylesheets/screen.scss */
#limitations_header, .limitations_body {
  width: 62px;
  display: inline-block;
  margin-right: 27px;
}

/* line 281, ../../app/stylesheets/screen.scss */
#exam_header, .exam_body {
  width: 102.5px;
  display: inline-block;
  margin-right: 15px;
}

/* line 287, ../../app/stylesheets/screen.scss */
#paper_header, .paper_body {
  width: 60px;
  display: inline-block;
  margin-right: 15px;
}

/* Search Box */
/* line 296, ../../app/stylesheets/screen.scss */
#search_title, #shopping_title {
  margin: 0px 0 4px 0;
  display: inline-block;
}

/* line 301, ../../app/stylesheets/screen.scss */
#shopping_title {
  font-size: 1.5em;
}

/* line 305, ../../app/stylesheets/screen.scss */
#search_title {
  font-size: 135%;
}

/* line 314, ../../app/stylesheets/screen.scss */
#search_name_div {
  border: 1px solid white;
  width: 13em;
}

/* Typography */
/* line 325, ../../app/stylesheets/screen.scss */
html {
  font-size: 100.01%;
}

/* Links */
/* line 330, ../../app/stylesheets/screen.scss */
a {
  color: #7FEAFF;
  text-decoration: none;
}

/* line 335, ../../app/stylesheets/screen.scss */
a:hover {
  color: #EAF9F9;
  text-decoration: underline;
}

/* line 340, ../../app/stylesheets/screen.scss */
a:visited {
  color: #7FEAFF;
}

/* line 344, ../../app/stylesheets/screen.scss */
#first_row a:visited {
  color: #7FEAFF;
}

/* line 352, ../../app/stylesheets/screen.scss */
table#yls {
  font-size: 25px;
  width: 100%;
  text-align: left;
  margin-bottom: 20px;
  border-bottom: 2px solid #FFFFFF;
}

/*Search Form */
/* line 366, ../../app/stylesheets/screen.scss */
div#search_button {
  position: relative;
  margin: 8px 0 3px 0;
}

/* line 371, ../../app/stylesheets/screen.scss */
div#course_list_link {
  margin: 10px 0 8px 0;
  font-size: 1em;
}

/*horizontal bars */
/* line 379, ../../app/stylesheets/screen.scss */
.zebra {
  padding: 2px 0 2px 0;
  background-color: #2d647f;
}

/* Round corners */
/* line 386, ../../app/stylesheets/screen.scss */
.round {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/*Course Table */
/* line 394, ../../app/stylesheets/screen.scss */
div#course_table {
  margin: 10px 0 0 0;
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
}

/* line 400, ../../app/stylesheets/screen.scss */
.other_rows {
  margin: 6px 0 0 0;
  padding: 2px 0 2px 5px;
}

/* line 405, ../../app/stylesheets/screen.scss */
.descrip_body {
  margin: 3px 0 0 0;
  padding: 0 0 2px 5px;
  display: none;
}

/* line 412, ../../app/stylesheets/screen.scss */
hr#border_line {
  margin-top: 0px;
  height: 0.5px;
  border: 1px dashed white;
  background-color: transparent;
}

/* line 420, ../../app/stylesheets/screen.scss */
.toggle_link_hide, .toggle_link_show {
  display: inline-block;
  float: right;
  margin-bottom: 5px;
}

/* line 426, ../../app/stylesheets/screen.scss */
.delete_line_item {
  display: inline-block;
}

/* line 430, ../../app/stylesheets/screen.scss */
#current_item, .non_current_item {
  display: inline-block;
  width: 350px;
}

/* line 435, ../../app/stylesheets/screen.scss */
.non_current_item:last-child {
  margin-bottom: -20px;
}

/* line 439, ../../app/stylesheets/screen.scss */
#units_range_title {
  border-top: 1px solid white;
  display: inline-block;
  position: relative;
  left: 58px;
  width: 180px;
  margin: 7px 0 10px 0;
}

/* line 448, ../../app/stylesheets/screen.scss */
#units_range {
  display: inline-block;
  border-top: 10px;
  width: 55px;
  border-top: 1px solid white;
  position: relative;
  left: 90px;
}

/* line 457, ../../app/stylesheets/screen.scss */
#units_range_title, #units_range {
  margin-top: 5px;
  padding-top: 3px;
}

/* line 462, ../../app/stylesheets/screen.scss */
#calendar_header, .calendar_body, #eval_header, .eval_body, #cart_header, .cart_body {
  display: inline-block;
  width: 20px;
  margin: 0 0 0 0;
}

/* line 468, ../../app/stylesheets/screen.scss */
#cart_header, .cart_body {
  width: 30px;
}

/* line 472, ../../app/stylesheets/screen.scss */
.units_body_cart {
  display: inline-block;
  margin-right: -10px;
}

/* line 477, ../../app/stylesheets/screen.scss */
.cart_add_hidden {
  display: none;
}

/*Lightbox */
/* line 486, ../../app/stylesheets/screen.scss */
.lightbox_back {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.85);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
}

/* line 496, ../../app/stylesheets/screen.scss */
.lightbox_front {
  padding: 10px;
  position: relative;
  background-color: #1F5168;
  top: 20%;
  left: 25%;
  z-index: 60;
  max-height: 50em;
  overflow: auto;
  width: 50%;
  border: 5px solid #EFEFEF;
}

/* line 509, ../../app/stylesheets/screen.scss */
.lightbox_close {
  font-color: gray;
  position: relative;
  float: right;
}

/* show course page */
/* line 516, ../../app/stylesheets/screen.scss */
#show_header {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}

/* line 522, ../../app/stylesheets/screen.scss */
#show_eval_header {
  font-style: italic;
  font-size: 13px;
  margin-bottom: 1em;
}

/* line 528, ../../app/stylesheets/screen.scss */
.indiv_eval_link {
  display: inline-block;
  width: 90px;
}

/* line 533, ../../app/stylesheets/screen.scss */
.prof_name {
  display: inline-block;
}

/* line 537, ../../app/stylesheets/screen.scss */
img {
  border: none;
}

/* line 541, ../../app/stylesheets/screen.scss */
img#arrow {
  margin-left: 3px;
  margin-top: 10px;
  margin-bottom: -4px;
}

/* line 548, ../../app/stylesheets/screen.scss */
#cart_border {
  position: fixed;
  top: 15px;
  right: 15px;
  display: inline-block;
  background-color: #2d647f;
  padding: 8px;
}

/* line 557, ../../app/stylesheets/screen.scss */
nav, #cart_border {
  padding: 7px;
  font-size: 13px;
}

/* line 562, ../../app/stylesheets/screen.scss */
#legend img {
  vertical-align: top;
}

/* line 566, ../../app/stylesheets/screen.scss */
#legend {
  margin: 2px 0 0 0;
}

/* line 570, ../../app/stylesheets/screen.scss */
#legend_gcal, #legend_eval, #legend_cart {
  padding: 0 2px 0 8px;
}

/* line 575, ../../app/stylesheets/screen.scss */
#sign_up {
  margin-top: 0px;
}

/*About Page */
/* line 583, ../../app/stylesheets/screen.scss */
#about {
  font-size: 1.05em;
}

/* line 587, ../../app/stylesheets/screen.scss */
#about_header {
  margin-bottom: 15px;
}

/* line 591, ../../app/stylesheets/screen.scss */
#about_p {
  font-size: 14px;
}

/* line 595, ../../app/stylesheets/screen.scss */
#about_wrapper {
  font-size: 13px;
  padding: 8px;
}
/* line 599, ../../app/stylesheets/screen.scss */
#about_wrapper li {
  margin: 15px 0 15px 30px;
}

/* line 604, ../../app/stylesheets/screen.scss */
#contact {
  margin: 20px 0 0 0;
}

/*Sign Up Page*/
/* line 610, ../../app/stylesheets/screen.scss */
.form_wrapper {
  padding: 8px 0 10px 25px;
  margin: 5px 0 0 10px;
  width: 400px;
  background-color: #2D647F;
  font-size: 105%;
}
/* line 617, ../../app/stylesheets/screen.scss */
.form_wrapper div {
  margin: 15px 0 5px 0;
}
/* line 621, ../../app/stylesheets/screen.scss */
.form_wrapper a {
  display: inline-block;
  margin-bottom: 5px;
}

/* line 628, ../../app/stylesheets/screen.scss */
#sign_up_button {
  margin: 10px 0 10px 0;
}

/* line 632, ../../app/stylesheets/screen.scss */
div #sign_in_button {
  margin: 5px 0 10px 0;
}

/* line 636, ../../app/stylesheets/screen.scss */
.eval_shadow, .prof_name {
  margin-bottom: 5px;
}
