@import "blueprint/debug";
@import "blueprint/grid";
@import "compass/reset";

$back_blue: #1F5168; //background's blue color
$light_blue: #2D647F;
$font_blue: #7FEAFF;
$body_font_size: 1em;
$lightbox_back: rgba(0,0,0,.8);

$mbc: 15px; //margin between columns, e.g. between "name" and "instructor"

$blueprint-grid-width: 35px;
$blueprint-grid-margin: 10px;
$blueprint-grid-outer-width: $blueprint-grid-width + $blueprint-grid-margin;
$blueprint-container-size: $blueprint-grid-outer-width * $blueprint-grid-columns - $blueprint-grid-margin;


/* Mixins */

@mixin both_margins{
	@include prepend(0.8);
	@include append(1);
}

@mixin name_body_width{
	@include span(5);
}

@mixin icons_width{
	@include span(1.7);
}

@mixin name_search_width{
	@include span(5.95);
}

@mixin instructor_width{
	@include span(2.5);
}

@mixin day_width{
	@include span(1.1);
}

@mixin time_width{
	@include span(2.4);
}

@mixin units_width{
	@include span(1.1);
}

@mixin limitations_width{
	@include span(1.6);
}

@mixin exam_width{
	@include span(2.5);
}

@mixin paper_width{
	@include span(2);
}

@mixin instructor_quality_width{
	@include span(3.75);
}

@mixin classtime_value_width{
	@include span(3.75);
}

@mixin workload_width{
	@include span(3.75);
}

@mixin search_form_rating_width{ //width for instructor_quality, classtime_value, workload
	@include span(3.75);
}

/* Nav */

nav {
	margin:15px 0 5px 0;
	float:right;
	position:relative;
	background-color: $light_blue;	
	
	.nav_item {
		position:relative;
		list-style-type: none;
		display: inline-block;
		margin: 0 7px 0 7px;
	}	
}

p, li, ul, {
	text-align:justify;
	line-height:150%;
}

h1 {
	font-size:2.4em;
	padding-bottom: 3px;
}

h2 {
	font-size:1.8em;
	margin-bottom:10px;
}

.instructor_body, .time_body {
	line-height:140%;
}

.hello_message {
	position: relative;
	display: inline-block;
	float: right;
	bottom:25px;
	right:245px;
}

#sign_in_for_cart {
	right:300px;
}

.assurance_msg {
	width:300px;
	font-size:90%;
}

.on_page_color {
	color:white;
}

/* Body */

body {
	@include container;
	margin: 0px 0px 0px 30px;
	overflow-y:auto;
	overflow-x:auto;
	font-size:77%;
	color:white;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	background-color:$back_blue;

	header {
		@include both_margins;
		overflow:auto;
		background-color:$back_blue;
		padding-top:12px;
	}
	
	div#container {
		@include both_margins;
		background-color:$back_blue;
		padding-bottom:50px;

		
		#yls_header {
			margin-top:0;
			margin-bottom:15px;
			border-bottom: 2px solid #FFFFFF;
			font-family: 'Lato', sans-serif;
		}
		
		#sidebar { 	
			position:fixed;
			background-color:$lightbox_back;
			left:670px;
			top:27px;
			width:30em;
			padding: 10px 0px 20px 15px;
			border: 2px solid white;
			z-index:100;
		
		#sidebar_inner_wrapper_2 {
			position:relative;
		}
		
		#sidebar_inner_wrapper_1 {
			position:absolute;
		}
		
		
			
			#cart, #see_calendar{
				padding: 0 3px 8px 5px;
				margin: 5px 0px 5px 0;
				font-size:100%;
			}
			
		}


		.empty_cart {
			margin:4px 0 0 0;
		}

		#hide_cart {
			display:inline-block;
			float:right;
			margin: .25em 1em 0 0;
		}
		
		/* Search form begins */
		
		div#search_container {
			padding: 10px 8px 2px 8px;
			margin: 10px 0 0 0;
			background-color:#2D647F;
			font-size:105%;
			
			div.field_container {
				float:left;
			}
			
			.float_and_margin {
				float:left;
				margin-bottom:3px;
				margin-right:$mbc;
			}
			
			#name_search, #search_name_like {	
				width:205px;
				margin-right:70px;
			}
			
			#instructor_search, #search_instructor_like {
				@include instructor_width;
			}
			
			#day_search, #search_day_like {
				width:45px;
			}
			
			#tod_search, #search_tod_like {
				@include time_width;
			}
			
			#units_search, #search_units_like {
				width:47.5px;
				margin-right:$mbc + 6px;
			}

			#limitations_search, #search_limitations_like {
				@include limitations_width;	
				margin-right:$mbc + 16px;
			}

			#exam_search, #search_exam_type_like {
				@include exam_width;	
				margin-right:$mbc + 4px;
			}

			#paper_search, #search_paper_type_like {
				@include paper_width;	
			}
			
			#instructor_quality_search, #classtime_value_search, #workload_search {
				@include search_form_rating_width;	
			}

			#search_classtime_value_gt, #search_workload_lt, #search_instructor_quality_gt {
				width:18px;
			}
		}
	}
}

#courses_body, #courses_evals_body {
	padding-bottom:40px;
	margin-top:10px;
}

.icons {
	@include icons_width;
	display:inline-block;
}

div#first_row {
	padding:5px 0 5px 5px;
	display:inline-block;
	width:984px;
	font-size:115%;
	border-bottom: 2px solid white;
	background-color:#1F5168;
	z-index:10;
}

/* Header and Body */

#name_header, .name_body {
	width:210px;
	max-height:50px;
	display:inline-block;
}

.course_name_click {
	@include name_body_width;
	white-space:normal;
}

#icons_header {
	display:inline-block;
	@include icons_width;
}

#instructor_header, .instructor_body {
	width:105px;
	display:inline-block;
	margin-right:$mbc;
}

#day_header, .day_body {
	width:45px;
	display:inline-block;
	margin-right:$mbc;
}

#time_header, .time_body {
	@include time_width;
	display:inline-block;
	margin-right:$mbc;
}

#time_header {
	margin-right:13px;
}

#units_header, .units_body {
	width:45px;
	display:inline-block;
	margin-right:$mbc;
}

#limitations_header, .limitations_body {
	@include limitations_width;
	display:inline-block;
	margin-right:$mbc + 12px;
}

#exam_header, .exam_body {
	@include exam_width;
	display:inline-block;
	margin-right:$mbc;
}

#classtime_value_header, .classtime_value_body {
	@include classtime_value_width;
	display:inline-block;
	margin-right:$mbc;
}

#instructor_quality_header, .instructor_quality_body {
	@include instructor_quality_width;
	display:inline-block;
	margin-right:$mbc;
}

#workload_header, .workload_body {
	@include workload_width;
	display:inline-block;
	margin-right:$mbc;
}

#paper_header, .paper_body {
	width:60px;
	display:inline-block;
	margin-right:$mbc;
}

.eval_container_bar {
	background-color:white;
	border:1px solid black;
	font: #7FEAFF;
	height:20px;
	width:155px;
	float:left;
	margin-right:21px;
}

.eval_super_container {
	overflow:auto;
	float:right;
	width:576px;
	
}

.eval_bar {
	display:inline-block;
	color:white;
	background-color:#00334F;
	height:17px;
	padding:3px 5px 0 0;
	text-align:right;
	
}
.eval_bar_cell {
	text-align:right;
	background-color:blue;
	padding-right:4px;
}


/* Search Box */

#search_title, #shopping_title {
	display:inline-block;
	margin:0 0 0 0;
}

#shopping_title {
	font-size:1.5em;
}

#search_title {
	font-size:135%;
}

#search_name_div{
	border:1px solid white;
	width:13em;
}
		
#below_first_row {
}



/* Typography */

html {font-size:100.01%;}


/* Links */

a {
  color: #7FEAFF;
  text-decoration: none;
}

a:hover {
  color: #EAF9F9;
  text-decoration: underline;
}

a:visited {
	color: #7FEAFF;
}

#first_row a:visited {
	color: #7FEAFF;
}





table#yls{   
	font-size:25px;
	width: 100%;
	text-align:left;
	margin-bottom: 20px;
	border-bottom: 2px solid #FFFFFF;
}

#logo {
	height:45px;
	position:relative;
	right:10px;
	margin-bottom:3px;
}

#logo_wrapper {
	border-bottom:2px solid white;
	margin-bottom:14px;
}

/*Search Form */


.search_button {
	margin: 8px 0 3px 0;
	width:50px;
	height:20px;
	clear:both;
	float:left;
}

div.course_list_link {
	display:inline-block;
	clear:both;
	padding:5px 0 0 0;
	margin:8px 0 15px 15px;
	font-size:$body_font_size;
}

.field_container {
	height:35px;
}


/*horizontal bars */

.zebra {
	padding:2px 0 2px 0;
	background-color:$light_blue;
}

/* Round corners */

.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}

/*Course Table */

div#course_table {
	margin: 10px 0 0 0;
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
}


.other_rows {
	margin:6px 0 0 0;
	padding:2px 0 2px 5px;
}

.descrip_body {
	margin:3px 0 0 0;
	padding:0 0 2px 5px;
	display:none;
}


hr#border_line {
	margin-top:0px;
	height:0.5px;
	border:1px dashed white;
	background-color:transparent;
}


.toggle_link_hide, .toggle_link_show {
	display:inline-block;
	float:right;
	margin-bottom:5px;
}

.delete_line_item {
	display:inline-block;
}

#current_item, .non_current_item {
	display:inline-block;
	width:350px;
	margin-bottom:1px;
}

.non_current_item:last-child {
	margin-bottom:-20px;
}

#units_range_title {
	border-top:1px solid white;
	display:inline-block;
	position:relative;
	left:70px;
	width:180px;
	margin:7px 0 10px 0;
}

#units_range {
	display:inline-block;
	border-top:10px;
	width:55px;
	border-top:1px solid white;
	position: relative;
	left:100px;
}

#units_range_title, #units_range {
	margin-top:5px;
	padding-top:3px;
}

#calendar_header, .calendar_body, #eval_header, .eval_body, #cart_header, .cart_body {
	display:inline-block;
	width:20px;
	margin: 0 0 0 0;
}

.eval_body {
	margin-right:2px;
}

#cart_header, .cart_body{
	width:30px;
}

.units_body_cart {
	display:inline-block;
	margin-right:-10px;
}

.cart_add_hidden {
	display:none;
}

.gt_or_lt_sign {
	display:inline-block;
	float:left;
	margin:7px 7px 0 0;
	font-size:90%;
}

/*Lightbox */

.lightbox_back {
	position: fixed;
	background-color:$lightbox_back;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index: 70;
}

.lightbox_front {
	padding: 10px;
	position: relative;
	background-color:#1F5168;
	top: 25%;
	left: 25%;
	z-index: 70;
	max-height:50em;
	overflow:auto;
	width: 50%;
	border:5px solid #EFEFEF;
}

.cal_lightbox_front {
	padding: 10px;
	position: relative;
	background-color:#1F5168;
	top: 3%;
	left: 5%;
	z-index: 70;
	max-height:50em;
	overflow:auto;
	width: 83%;
	bottom:10%;
	border:5px solid #EFEFEF;
}

.faq_lightbox_front {
	padding: 10px;
	position: relative;
	background-color:#1F5168;
	top: 18%;
	left: 10%;
	max-height:50em;
	overflow:auto;
	width: 75%;
	border:5px solid #EFEFEF;
	z-index: 70;
}

#about_lightbox_front {
	left: 15%;
	width: 65%;
}


.cal_lightbox_close, .lightbox_close{
	font-color:gray;
	position:relative;
	float:right;
}

/* show course page */
#show_header {
	font-size:20px;
	font-weight:bold;
	margin-bottom:5px;
}

#show_eval_header {
	font-style:italic;
	font-size:13px;
	margin-bottom:1em;
}

.indiv_eval_link {
	display:inline-block;
	width:90px;
	
}

.prof_name {
	display:inline-block;
}

img {
	border:none;
}

img#arrow {
	margin-left:3px;
	margin-top:10px;
	margin-bottom:-4px;
}


#cart_border, #eval_toggle_wrapper, #info_toggle_wrapper, #see_calendar {
	position:fixed;
	left:1080px;
	display:inline-block;
	background-color: $light_blue;
	padding: 8px;
	font-size:13px;
}

#cart_border, #see_calendar {
	width:110px;
	text-align:center;
	padding:5px 0 5px 0;
	top:27px;
}

#eval_toggle_wrapper {
	top:72px;
}

#info_toggle_wrapper {
	top:72px;
}

#see_calendar {
	top:160px;
}

#eval_toggle_td {
	padding: 10px 0 5px 0;
	text-align:center;
}

#info_toggle_td {
	padding:5px 0 10px 0;
	text-align:center;
	border-bottom:1px solid white;
}

nav, #cart_border, #eval_toggle_wrapper, #see_calendar {
	padding: 8px 6px 8px 6px;
	font-size:13px;
	float:right;
}

#eval_toggle_wrapper {
	padding:8px;
}
	
#legend img {
	vertical-align:top;
}

#legend {
	margin: 2px 0 0 0;
	padding-bottom:5px;
}

#legend_gcal, #legend_eval, #legend_cart {
	position:relative;
	bottom:5px;
	padding:0 2px 0px 8px;
	
}

#sign_up, #sign_in{
	margin-top:0px;
}

 

/*About Page */

#about {
	font-size:1.05em;
}

#about_header, #faq_header {
	margin-bottom:15px;
}

#about_p {
	font-size:14px;
}

#about_wrapper, #faq_wrapper {
	font-size:13px;
	padding:8px;
	
	li{
		margin: 15px 0 15px 30px;
	}
}

#faq_wrapper div {
	margin: 5px 0 5px 0px;
	padding: 5px 0px 5px 5px;
}

.faq_q {
	font-size:110%;
	margin-bottom:13px;
}

.faq_a {
	margin-bottom:13px;
	line-height:18px;
	display:none;
}

#contact {
	margin:20px 0 0 0;
}

/*Sign Up Page*/

.form_wrapper {
	padding: 8px 0 10px 25px;
	margin: 5px 0 0 10px;
	width:400px;
	background-color:#2D647F;
	font-size:105%;
	
	div {
		margin: 15px 0 5px 0;
	}
	
	.field_with_errors {
		position:relative;
		margin:-6px 0px 0px 0px;
	}
	
	a {
		display:inline-block;
		margin-bottom:5px;
	}
	
} 

#sign_up_button {
	margin: 10px 0 10px 0;
}

div #sign_in_button {
	margin: 5px 0 10px 0;
}

.eval_shadow, .prof_name {
	margin-bottom:5px;
}

#no_courses {
	font-style:italic;
	font-size:105%;
	margin-left:4px;
}

.hide_search, #show_search {
	display:inline-block;
	position:relative;
	left:705px;
}

.hide_search_img {
	display:inline-block;
	position:relative;
	top:3px;
	margin-left:-3px;
}

/* Calendar */

#cal_wrapper {
	height: 582px;
	width: 970px;
	background-color:#2D647F;
	margin-top:5px;
	padding:0 10px 0 10px;
}

#cal_header {
	background-color:$light_blue;
	clear:both;
	overflow:auto;
	padding:10px 0 15px 0;
	width:890px;
	float:right;
}

.day {
	float:left;
	text-align:center;
	color:white;
	font-size:150%;
	margin-right:$blueprint-grid-margin;
}


.day#friday{
	margin-right:0px;
}

#hour_header_wrapper {
	width:65px;
	float:left;
	margin-left:5px;
	margin-top:2px;
}

#week_hour_rows{
	float:right;
}

.day_hour_rows{
	float:right;
}


.hour_header {
	padding:0px 0 28px 0;
}

.hour_header#hour_8 {
	padding:36px 0 30px 0;
}

.hour_header#hour_9 {
	padding:0px 0 0px 0;
}

.hour {	
	height:39px;
	border-top:1px solid white;
	margin-left:9px;
	margin-right:1px;	
	z-index:20;
}

#M8_PM, #T8_PM, #W8_PM, #Th8_PM, #F8_PM {
	border-bottom:1px solid white;
}

.day, .hour {
	width:span(4);
}

.first_hour {
	margin-top:35px;
}

.marked {
	height:84px;
	background-color:#00374F;
	z-index:30;
	border:1px solid white;
	float:left;
	margin-right:3px;
	padding:2px;
	font-size:85%;
	color:white;
	word-wrap:break-word;
}

#cal_header_div {
	margin-bottom:2px;
	font-size:135%;
	display:inline-block;
}

.class_name {
	font-size:105%;
}

.class_time {
	font-size:95%;
	margin-top:2px;
	display:inline-block;
}

#close_cal {
	display:inline-block;
	float:right;
}

#cal_cart_toggle {
	display:inline-block;
	float:right;
	position:relative;
	margin-right:5px;
}


.tooltip {
	display:none;
	font-size:12px;
	height:70px;
	width:160px;
	padding:25px;
	color:#fff;	
}

.default_text {
	color:gray;
}


