<div class="lightbox_back">
	<div class="lightbox_front">
		<span class="lightbox_close"><a href=''>CLOSE [X]</a></span>
		<div id="about_wrapper">
			<h1 id="about_header">Welcome to YLS Courses 2.0</h1>
			<p id="about_p"> This site was made to make it easier to pick your classes. Here's all the cool stuff you can do:</p>	
					<li>Search through classes. By course name, professor, # of units, whether they have a paper option, etc.</li>
					<li>Instantly read course evaluations, for every past instance of the course, without having to search through a totally different website (ADD LINK HERE)</li>
					<li>Keep track of the courses you're planning to shop. Add them to your calendar and see how they fit into your schedule.</li>
			<div id="contact">Think this site could be better? Send your suggestions to <a href="mailto:jimmy.li@yale.edu">jimmy.li@yale.edu</a></div> 
		</div>
	</div>
</div>