<div class="lightbox_back">
	<div class="lightbox_front">
		<span class="lightbox_close"><a href=''>CLOSE [X]</a></span>
		<div id="about_wrapper">
			<h1 id="about_header">Welcome to YLS Class Action!</h1>
			<p id="about_p"> It's now easier to make decisions about what classes to take. Here's what this site lets you do:
			</p>	
					<li>Search for classes more easily. You can filter by all the relevant criteria: course name, professor, number of units, exam/paper option, and time.</li>
					<li>Keep track of the courses you're planning to shop and the number of credits they total. Add the courses easily to the built-in calendar and see how they fit into your schedule. </a></li>
					<li>Instantly get course evaluations for the classes you're interested in. Find evaluations from every past instance of the course with a click of a button. No more having to search through many different semesters of classes on a totally separate website.</li>
					<li>Compare classes based on different meta-scores calculated from the official course evaluations. An explanation of these meta-scores is available here. </li>

			<div id="contact">Think this site could be better? Send your suggestions to <a href="mailto:jimmy.li@yale.edu">jimmy.li@yale.edu</a></div> 
		</div>
	</div>
</div>