<div class="lightbox_back">
	<div class="lightbox_front" id="about_ratings_lightbox_front">
		<span class="lightbox_close"><a href=''>CLOSE [X]</a></span>
		<div id="about_wrapper">
			<h1 id="about_header">Ratings Explanation</h1>
			<p id="about_p"> Title goes here. 
			</p>	
					<li>Stuff</li>
					<li>Stuff</a></li>
					<li>Stuff</li>

			<div id="contact">Think this site could be better? Send your suggestions to <a href="mailto:jimmy.li@yale.edu">jimmy.li@yale.edu</a></div> 
		</div>
	</div>
</div>