<div class="lightbox_back">
	<div class="lightbox_front" id="about_ratings_lightbox_front">
		<span class="lightbox_close"><a href=''>CLOSE [X]</a></span>
		<div id="about_wrapper">
			<h1 id="about_header">Ratings Explanation</h1>

			<li>These ratings are based on the data from the YLS course evaluations. We have collapsed the distribution of scores for teacher quality, classtime value, and out-of class time into single, average scores, so that classes may be easily compared on these attributes side-to-side. For each category, ratings of 1-5 were mapped onto a 0-10 scale, and then averaged.</li>

			<li>Classtime value is the average score for the question, "Compared to other YLS classes, how valuable was in-class time in [the class]?". Instructor quality is the average score for "In your opinion, compared to other YLS professors you've had, how good a teacher was the professor(s)?". Finally, workload is the average score for "Compared to other YLS classes, how much out-of-class preparation, reading, and writing does [The] First Amendment require?".</li>

			<li>This system of displaying ratings is meant only to supplement the YLS evaluations site, which does a better job displaying qualitative information and the distribution of scores (this system shows just the average).</li>

			<li>In addition, this system only displays the score from the last time the class was taught (or occasionally the second-to-last time). The system only displays the score if it was the same class taught by the same professor(s). Many classes show no scores because the class has not been taught by this professor before at YLS, or because there were too few evaluations for the data to be meaningful. Also, the site doesn't display scores for clinics because the scores on classtime value and teacher quality may be less relevant for clinical offerings.</li>
			
			<li>There might also be errors. Use at your own risk! If you find any, send me an email at <a href="mailto:jimmy.li@yale.edu">jimmy.li@yale.edu</a> </li>
			<br>
		<div><a href="/about" class="about_ratings_switch" id="links_back">About</a> | <a href="/faq" class="about_ratings_switch">FAQ</a>

		</div>
	</div>
</div>