<!-- Javascripts -->
	<script type="text/javascript" src="javascripts/custom/custom.js"></script>

<div class="lightbox_back">
	<div class="cal_lightbox_front">
		<span class="lightbox_close"><a href=''>CLOSE [X]</a></span>

		<%= link_to "Load classes into calendar", "/cal", :id=> "cal_classes_load", :remote => true %>
		<br>
		<%= @result_array %>

		<div id="cal_wrapper" class="round">
			<%= render :partial => 'main_cal' %>
		</div>
	</div>
</div>
