	<script type="text/javascript" src="javascripts/custom/custom.js"></script>	

<div class="lightbox_back">
	<div class="faq_lightbox_front">
		<span class="lightbox_close"><a href=''>CLOSE [X]</a></span>
		<div id="faq_wrapper">
			<h1 id="faq_header">Frequently Asked Questions</h1>
				<div class="faq_q round"><a href="#">Q: Is this site formally connected to Yale Law School?</a></div>
				<div class="faq_a">A: No, this site has no such connection. It was made by a student for the free use of other students.</div>
				<div class="faq_q round"><a href="#">Q: Why should I sign up?</a></div>
				<div class="faq_a">A: If you sign up, you'll be given a course cart and a course calendar. That way, you can easily keep track of the courses you're most interested in and see how they fit into your calendar.</div>
		
				<div class="faq_q round"><a href="#">Q: How did you get all this data?</a></div>
				<div class="faq_a">A: This site has only scraped and organized that data which YLS already made publicly available. </div>
			
				<div class="faq_q round"><a href="#">Q: Are the courses all up to date?</a></div>
				<div class="faq_a">A: Yes. If you notice something that is outdated or otherwise incorrect, <a href="mailto:jimmy.li@yale.edu">contact me</a>.</div>

				<div class="faq_q round"><a href="#">Q: What is ratings view?</a></div>
				<div class="faq_a">A: Ratings view lets you view and rank classes along three different meta-scores, as calculated by Reed Schuler. This provides another (and, we think, very useful) way of picking your classes. Details on these meta-scores are <a href=''>available here</a></div>

				<div class="faq_q round"><a href="#">Q: If this site says there are no course evaluations for a given course, does that mean that no course evaluations exist?</a></div>
				<div class="faq_a">A: It's very likely that they don't exist (e.g. because the course in question has not been taught before). This site has detected and connected to <em>almost all</em> of the evaluations, although it was not possible to connect to them all. If you find evaluations that fail to appear on this site <a href="mailto:jimmy.li@yale.edu">shoot me a line</a> with the evaluation's link.</div>
			</div>	
		</div>
	</div>
</div>