	<script type="text/javascript" src="javascripts/custom/custom.js"></script>	

<div class="lightbox_back">
	<div class="faq_lightbox_front">
		<span class="lightbox_close"><a href=''>CLOSE [X]</a></span>
		<div id="faq_wrapper">
			<h1 id="faq_header">Frequently Asked Questions</h1>
				<div class="faq_q round"><a href="#">Q: Is this site formally affiliated with Yale Law School?</a></div>
				<div class="faq_a">A: No. It was made in my (Jimmy Li, YLS '13) free time for the free use of other students.</div>
			
				<div class="faq_q round"><a href="#">Q: Why should I sign up?</a></div>
				<div class="faq_a">A: If you sign up, you'll be given a course cart and a course calendar. With cart and calendar, you can easily keep track of the courses you're most interested in and see how they fit into your schedule. All information you provide upon sign up is protected and encrypted -- no one (including me) has access. </div>
			
				<div class="faq_q round"><a href="#">Q: Are the courses all up to date?</a></div>
				<div class="faq_a">A: They should be. If you notice something that is outdated or otherwise incorrect, please contact me at <a href="mailto:jimmy.li@yale.edu">jimmy.li@yale.edu</a>.</div>

				<div class="faq_q round"><a href="#">Q: What is ratings view?</a></div>
				<div class="faq_a">A: Ratings view lets you view and rank classes along three different meta-scores, as calculated based on YLS course evaluation scores. This provides a useful way of picking your classes. Details on these meta-scores are <a href='/about_ratings'>available here.</a></div>

				<div class="faq_q round"><a href="#">Q: If this site says there are no course evaluations for a given course, does that mean that no course evaluations exist?</a></div>
				<div class="faq_a">A: It's pretty likely that they don't exist (e.g. because the course in question has not been taught before). This site has detected and connected to almost all of the evaluations, but some may be missing. If you find evaluations that fail to appear on this site, let me know at <a href="mailto:jimmy.li@yale.edu">jimmy.li@yale.edu</a> with the evaluation's link. Thanks.</div>
			</div>
		</div>
	</div>
</div>