<div class="lightbox_back">
	<div class="lightbox_front">
		<span class="lightbox_close"><a href=''>CLOSE [X]</a></span>
		<div id="about_wrapper">
			<h1 id="about_header">Frequently Asked Questions</h1>
			<ul>
				<li>Q: If this site says there are no course evaluations for a given course, does that mean that no course evaluations exist? </li>
				<li>A: Not necessarily. Although this site has detected and connected to <em>almost all</em> of the evaluations, it was not possible to connect to them all. If you find evaluations that fail to appear on this site <a href="mailto:jimmy.li@yale.edu">shoot me a line</a> with the evaluation's link.</li>
		</div>
	</div>
</div>