<div class="lightbox_back">
	<div class="lightbox_front">
		<span class="lightbox_close"><a href=''>CLOSE [X]</a></span>
		<div id="about_wrapper">
			<h1 id="about_header">Frequently Asked Questions</h1>
			<ul>
				<li>Q: Does your site connect to all the course evaluations on the inside page?</li>
				<li>A: The site connects to most course evaluations, but it was not possible to connect to all evaluations. This means that you will have to go the YLS inside page to find some evaluations (but this is fairly rare)</li>
		</div>
	</div>
</div>