<tr id="info_toggle_tr">
	<% if @toggle == "0" %> <!-- Information view in white, ratings view in blue -->
	<td id="info_toggle_td"><%= link_to "Information view", courses_path(:toggle => 0, :search => params[:search], :filter_by_cart => params[:filter_by_cart]), :id => "info_toggle", :class => "on_page_color", :remote => true %></td>
</tr>
<tr id="eval_toggle_tr">
	<td id="eval_toggle_td"><%= link_to "Ratings view", courses_path(:toggle => 1, :search => params[:search], :filter_by_cart => params[:filter_by_cart]), :id => "eval_toggle", :remote => true %></td>

	<% elsif @toggle == "1" %> <!-- Information view in blue, ratings view in white -->
		<td id="info_toggle_td"><%= link_to "Information view", courses_path(:toggle => 0, :search => params[:search], :filter_by_cart => params[:filter_by_cart]), :id => "info_toggle", :remote => true %></td>
	</tr>
	<tr id="eval_toggle_tr">
		<td id="eval_toggle_td"><%= link_to "Ratings view", courses_path(:toggle => 1, :search => params[:search], :filter_by_cart => params[:filter_by_cart]), :id => "eval_toggle", :class => "on_page_color", :remote => true %></td>
	<% end %>
</tr>