<div id="container">
	
	<!-- Javascripts -->
	<script type="text/javascript" src="javascripts/custom/custom.js"></script>
	<script type="text/javascript" src="javascripts/custom/jquery.highlightFade.js"></script>
	
	<!-- Header -->
	<h1 id="yls_header"> YLS Class Action: Spring 2012 </h1>

	<!-- Shopping Cart -->
	<% if user_signed_in? %>
	<div id="cart_border" class="round"><a href='' id="cart_toggle">Show Cart</a></div>
	<div id="sidebar">
		<h2 id="shopping_title">Your Course Cart</h2>
		<a href='' id="hide_cart">Hide [X]</a>
		<div id="cart" class="round">
		<% if @cart %>
			<%= render @cart %>
		<% else %>
			Your cart is empty
		<% end %>
		</div>
	</div>
		<% end %>
	
	<!-- Search Box -->
	<h2 id="search_title">Search Classes</h2> <!--Search form -->
	<div id="search_container" class="round">
		<%= render :partial => 'search_form' %>
	</div>
	<br>
	
	<!-- Courses -->
	<span class="lightbox" id="small"></span>
	<% if @toggle==0%>
		<div id="courses_body"><%= render :partial => 'courses' %></div> 
	<% else %>
		<div id="courses_body"><%= render :partial => 'courses_evals' %></div>
	<% end %>
</div>
