<div class="lightbox_back">
	<div class="lightbox_front">
		<span class="lightbox_close"><a href=''>CLOSE [X]</a></span>
		<div id="show_header"><%= @course.name%></div>
		<em>Course evaluations:</em>
		<br>
		<% if @course.evals.nil? %>
			No evaluations found
		<% else %>
			<% i = 2 %>
			<% while i < @course.evals.count %>
				<a href="https://faculty.yale.edu/lawevals/student/Summary?crn=<%= @course.evals[i-2] %>&termCode=<%=@course.evals[i-1]%>"><%=@course.evals[i]%></a>
				<br>
				<% i = i+3 %>
			<% end %>
		<% end %>
	</div>
</div>