<% unless line_item.course.blank? %>
	<% if line_item == @current_item %>
		<div id = "current_item">
		<% else %>
		<div class = "non_current_item">
	<% end %>
			<div class="delete_line_item"><%= button_to 'Delete', line_item, {:method => :delete, :remote => true} %></div>
			<li class="name_body"><%= line_item.course.name %></li>
			<li class="units_body_cart"><%= line_item.course.units %></li>
			<br>
		</div>
<% end %>