<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
	<script src="javascripts/jquery.js" type="text/javascript"></script>
	<%= render 'layouts/stylesheets'%>
	<%= csrf_meta_tag %>
  </head>
  <body>
	  <%= yield %>
  </body>
</html>