<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
	<script src="http://cdn.jquerytools.org/1.2.6/jquery.tools.min.js"></script>	
	<%= render 'layouts/stylesheets'%>
	<%= csrf_meta_tag %>
  </head>
  <body>
	  <%= yield %>
  </body>
</html>